<a href="https://colab.research.google.com/github/schatz06/EPL448_Project/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Map Driver##

In [4]:
#from google.colab import drive
#drive.mount('/content/drive')

##Import Packages ##

In [5]:
import numpy as np 
import pandas as pd

##Read Data##

In [6]:
train_data = pd.read_excel('Data_Train.xlsx') # read training data
test_data  = pd.read_excel('Data_Test.xlsx') # read test data

Check for corrupted or empty records

In [7]:
print("Problematic records in training data: ",train_data.isnull().sum().sum())
print("Problematic records in test data: ",test_data.isnull().sum().sum())

Problematic records in training data:  0
Problematic records in test data:  0

##Train Data Preprocessing##

Reviews Normalization

In [8]:
train_data['Reviews'] = train_data.Reviews.apply(lambda r: float(r.split()[0])) # get only the review rule 
train_data['Reviews'] = (train_data.Reviews - train_data.Reviews.mean())/(train_data.Reviews.std()) # normalize reviews

Ratings Normalization

In [9]:
train_data['Ratings'] = train_data.Ratings.apply(lambda r: float(r.split()[0].replace(',',''))) # get only the rating 
train_data['Ratings'] = (train_data.Ratings - train_data.Ratings.mean())/(train_data.Ratings.std()) # normalize rating

Drop Title & Author & Synopsis & Genre columns

In [10]:
train_data.pop('Author')
train_data.pop('Title')
train_data.pop('Synopsis')
train_data.pop('Genre')

0         Action & Adventure (Books)
1         Cinema & Broadcast (Books)
2            International Relations
3       Contemporary Fiction (Books)
4              Photography Textbooks
                    ...
6232            Anthropology (Books)
6233    Contemporary Fiction (Books)
6234                 Romance (Books)
6235      Action & Adventure (Books)
6236      Action & Adventure (Books)
Name: Genre, Length: 6237, dtype: object

Edition Normalization / Drop edition

In [11]:
#train_data['Edition'] = train_data.Edition.apply(lambda r: r.split(',')[0]) # get only the type of book e.g Paperback or Hardcover
#train_data= pd.get_dummies(train_data, columns= ['Edition'])
train_data.pop('Edition')

0       Paperback,– 10 Mar 2016
1        Paperback,– 7 Nov 2012
2       Paperback,– 25 Feb 1982
3        Paperback,– 5 Oct 2017
4       Hardcover,– 10 Oct 2006
                 ...
6232     Paperback,– 8 Aug 2018
6233    Paperback,– 21 Nov 2016
6234     Paperback,– 8 Jun 2006
6235    Paperback,– 15 Jan 2015
6236    Paperback,– 21 Dec 2016
Name: Edition, Length: 6237, dtype: object

Book Category Normalization / Extract Categories

In [12]:
train_data= pd.get_dummies(train_data, columns= ['BookCategory'])

Finish training inputs(z)

In [13]:
z = train_data

In [14]:
train_data.head()

    Reviews   Ratings  ...  BookCategory_Romance  BookCategory_Sports
0 -0.442568 -0.186568  ...                     0                    0
1 -0.593511 -0.146567  ...                     0                    0
2  0.764977 -0.199902  ...                     0                    0
3 -0.291625 -0.153234  ...                     0                    0
4  1.066863 -0.233236  ...                     0                    0

[5 rows x 14 columns]

##Test Data Preprocessing##

Reviews Normalization

In [15]:
test_data['Reviews'] = test_data.Reviews.apply(lambda r: float(r.split()[0])) # get only the review rule 
test_data['Reviews'] = (test_data.Reviews - test_data.Reviews.mean())/(test_data.Reviews.std()) # normalize reviews

Ratings Normalization

In [16]:
test_data['Ratings'] = test_data.Ratings.apply(lambda r: float(r.split()[0].replace(',',''))) # get only the rating 
test_data['Ratings'] = (test_data.Ratings - test_data.Ratings.mean())/(test_data.Ratings.std()) # normalize rating

Drop Title & Author & Synopsis & Genre columns

In [17]:
test_data.pop('Author')
test_data.pop('Title')
test_data.pop('Synopsis')
test_data.pop('Genre')

0                            Short Stories (Books)
1                      Operating Systems Textbooks
2                                  Romance (Books)
3       Programming & Software Development (Books)
4                              Linguistics (Books)
                           ...
1555                                        Design
1556                  Children's Reference (Books)
1557                                Humour (Books)
1558                         United States History
1559                                  Dictionaries
Name: Genre, Length: 1560, dtype: object

Edition Normalization / Drop edition

In [18]:
#test_data['Edition'] = test_data.Edition.apply(lambda r: r.split(',')[0]) # get only the type of book e.g Paperback or Hardcover
#test_data= pd.get_dummies(test_data, columns= ['Edition'])
test_data.pop('Edition')

0       Mass Market Paperback,– 1 Oct 1986
1          Paperback,– Import, 26 Apr 2018
2                  Paperback,– 17 Mar 2011
3                         Paperback,– 2016
4                  Paperback,– 26 Dec 2011
                       ...
1555               Paperback,– 14 Apr 2011
1556                Paperback,– 8 May 2013
1557                Paperback,– 6 Sep 2011
1558               Paperback,– 22 Sep 2009
1559               Paperback,– 16 Sep 2016
Name: Edition, Length: 1560, dtype: object

Book Category Normalization / Extract Categories

In [19]:
test_data= pd.get_dummies(test_data, columns= ['BookCategory'])

Finish Test set Inputs

In [20]:
z_test = test_data
z_test.head()

    Reviews   Ratings  ...  BookCategory_Romance  BookCategory_Sports
0  0.140178  5.627725  ...                     0                    0
1  1.038851 -0.198467  ...                     0                    0
2  1.038851 -0.180241  ...                     1                    0
3 -0.309159 -0.137714  ...                     0                    0
4  0.140178 -0.149865  ...                     0                    0

[5 rows x 13 columns]

##Training Feed Forward Model##

Split Train Set in Train  & Validation Sets(70/30)

In [21]:
############# inputs to the neural network #######################
train_set = z.sample(frac=0.7,random_state=200)
validation_set = z.drop(train_set.index)
######################### normalized target outputs for training set##########
y_train_set = train_set.pop('Price')
y_train_set_max = y_train_set.max()
y_train_set_min = y_train_set.min()
y_train_set = (y_train_set - y_train_set_min) /( y_train_set_max - y_train_set_min)

########################## normalized target outputs for validation set #######
y_validation_set = validation_set.pop('Price')
y_validation_set_max = y_validation_set.max()
y_validation_set_min = y_validation_set.min()
y_validation_set = (y_validation_set - y_validation_set_min) /( y_validation_set_max - y_validation_set_min)

Import tensorflow

In [22]:
%tensorflow_version 2.x  # this line is not required unless you are in a notebook
# TensorFlow and tf.keras
import tensorflow as tf
from tensorflow import keras
from keras.preprocessing.text import Tokenizer
from keras import models
from keras import layers
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

`%tensorflow_version` only switches the major version: 1.x or 2.x.
You set: `2.x  # this line is not required unless you are in a notebook`. This will be interpreted as: `2.x`.


TensorFlow 2.x selected.

Build model/neural network

In [23]:
# Start neural network
network = models.Sequential()

# Add fully connected layer with a ReLU activation function
network.add(layers.Dense(units=32, activation='sigmoid', input_shape=(train_set.shape[1],)))

# Add fully connected layer with a ReLU activation function
network.add(layers.Dense(units=32, activation='sigmoid'))

# Add fully connected layer with no activation function
network.add(layers.Dense(units=1,activation='sigmoid'))

In [24]:
network.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 32)                448
_________________________________________________________________
dense_1 (Dense)              (None, 32)                1056
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 33
=================================================================
Total params: 1,537
Trainable params: 1,537
Non-trainable params: 0
_________________________________________________________________

Compile model

In [25]:
# Compile neural network
network.compile(loss='mse', # Mean squared error
                optimizer='RMSprop', # Optimization algorithm
                ) # Mean squared error

Model Training

In [26]:
# Train neural network
history = network.fit(train_set, # Features
                      y_train_set, # Target vector
                      epochs=30, # Number of epochs
                      verbose=1, # Output
                      batch_size=100, # Number of observations per batch
                      validation_data=(validation_set,y_validation_set)) # Data for evaluation

Epoch 1/30
44/44 [==============================] - 1s 11ms/step - loss: 0.1295 - val_loss: 0.0149
Epoch 2/30
44/44 [==============================] - 0s 2ms/step - loss: 0.0094 - val_loss: 0.0038
Epoch 3/30
44/44 [==============================] - 0s 2ms/step - loss: 0.0032 - val_loss: 0.0033
Epoch 4/30
44/44 [==============================] - 0s 3ms/step - loss: 0.0021 - val_loss: 0.0032
Epoch 5/30
44/44 [==============================] - 0s 2ms/step - loss: 0.0023 - val_loss: 0.0032
Epoch 6/30
44/44 [==============================] - 0s 3ms/step - loss: 0.0020 - val_loss: 0.0032
Epoch 7/30
44/44 [==============================] - 0s 3ms/step - loss: 0.0023 - val_loss: 0.0031
Epoch 8/30
44/44 [==============================] - 0s 2ms/step - loss: 0.0019 - val_loss: 0.0031
Epoch 9/30
44/44 [==============================] - 0s 3ms/step - loss: 0.0023 - val_loss: 0.0031
Epoch 10/30
44/44 [==============================] - 0s 3ms/step - loss: 0.0018 - val_loss: 0.0031
Epoch 11/30
44/44 [==============================] - 0s 3ms/step - loss: 0.0020 - val_loss: 0.0031
Epoch 12/30
44/44 [==============================] - 0s 2ms/step - loss: 0.0021 - val_loss: 0.0031
Epoch 13/30
44/44 [==============================] - 0s 2ms/step - loss: 0.0022 - val_loss: 0.0030
Epoch 14/30
44/44 [==============================] - 0s 2ms/step - loss: 0.0017 - val_loss: 0.0030
Epoch 15/30
44/44 [==============================] - 0s 2ms/step - loss: 0.0017 - val_loss: 0.0030
Epoch 16/30
44/44 [==============================] - 0s 2ms/step - loss: 0.0020 - val_loss: 0.0030
Epoch 17/30
44/44 [==============================] - 0s 2ms/step - loss: 0.0023 - val_loss: 0.0030
Epoch 18/30
44/44 [==============================] - 0s 2ms/step - loss: 0.0016 - val_loss: 0.0030
Epoch 19/30
44/44 [==============================] - 0s 2ms/step - loss: 0.0018 - val_loss: 0.0030
Epoch 20/30
44/44 [==============================] - 0s 2ms/step - loss: 0.0015 - val_loss: 0.0030
Epoch 21/30
44/44 [==============================] - 0s 2ms/step - loss: 0.0021 - val_loss: 0.0031
Epoch 22/30
44/44 [==============================] - 0s 2ms/step - loss: 0.0021 - val_loss: 0.0030
Epoch 23/30
44/44 [==============================] - 0s 2ms/step - loss: 0.0026 - val_loss: 0.0030
Epoch 24/30
44/44 [==============================] - 0s 2ms/step - loss: 0.0021 - val_loss: 0.0030
Epoch 25/30
44/44 [==============================] - 0s 2ms/step - loss: 0.0017 - val_loss: 0.0030
Epoch 26/30
44/44 [==============================] - 0s 3ms/step - loss: 0.0025 - val_loss: 0.0030
Epoch 27/30
44/44 [==============================] - 0s 2ms/step - loss: 0.0021 - val_loss: 0.0030
Epoch 28/30
44/44 [==============================] - 0s 3ms/step - loss: 0.0020 - val_loss: 0.0030
Epoch 29/30
44/44 [==============================] - 0s 5ms/step - loss: 0.0019 - val_loss: 0.0030
Epoch 30/30
44/44 [==============================] - 0s 2ms/step - loss: 0.0018 - val_loss: 0.0030

##Predict Prices Using Feed Forward Neural Network##

Predict

In [27]:
predictions = network.predict(z_test)

Denormalize

In [28]:
actual_prices = (predictions*(y_train_set_max - y_train_set_min)) + y_train_set_min

Save prediction to Excel File

In [29]:
df = pd.DataFrame(actual_prices.astype(int))
df.columns=['Price']
filepath = 'Predictions.xlsx'
df.to_excel(filepath, index=False)
df.head()

   Price
0    164
1   1168
2    480
3    850
4    494

##Radial Basis Function##

Create custom RBF Layer

In [87]:
from keras.layers import Layer
from keras import backend as K

class RBFLayer(Layer):
    def __init__(self, units, gamma, **kwargs):
        super(RBFLayer, self).__init__(**kwargs)
        self.units = units
        self.gamma = K.cast_to_floatx(gamma)

    def build(self, input_shape):
#         print(input_shape)
#         print(self.units)
        self.mu = self.add_weight(name='mu',
                                  shape=(int(input_shape[1]), self.units),
                                  initializer='uniform',
                                  trainable=True)
        super(RBFLayer, self).build(input_shape)

    def call(self, inputs):
        diff = K.expand_dims(inputs) - self.mu
        l2 = K.sum(K.pow(diff, 2), axis=1)
        res = K.exp(-1 * self.gamma * l2)
        return res

    def compute_output_shape(self, input_shape):
        return (input_shape[0], self.units)

Create Network

In [98]:
from keras.layers import Dense, Flatten
from keras.models import Sequential
from keras.losses import binary_crossentropy


# Start neural network
network2 = models.Sequential()

network2.add(layers.Dense(units=50, activation='sigmoid', input_shape=(train_set.shape[1],)))

network2.add(RBFLayer(400, 0.4))

# Add fully connected layer with no activation function
network2.add(layers.Dense(units=1,activation='sigmoid'))

network2.compile(optimizer='rmsprop', loss=binary_crossentropy)

In [ ]:
# Train neural network
history2 = network2.fit(train_set, # Features
                      y_train_set, # Target vector
                      epochs=40, # Number of epochs
                      verbose=1, # Output
                      batch_size=100, # Number of observations per batch
                      validation_data=(validation_set,y_validation_set)) # Data for evaluation

##Predict Prices Using Radial Basis Function##

Predict

In [100]:
predictions2 = network2.predict(z_test)

Denormalize

In [101]:
actual_prices2 = (predictions2*(y_train_set_max - y_train_set_min)) + y_train_set_min

Save Predictions to Excel File

In [102]:
df2 = pd.DataFrame(actual_prices2.astype(int))
df2.columns=['Price']
filepath = 'Predictions2.xlsx'
df2.to_excel(filepath, index=False)
df2.head()

   Price
0    248
1   1125
2    481
3    823
4    459