<a href="https://colab.research.google.com/github/schatz06/EPL448_Project/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Map Driver##

In [65]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

##Import Packages ##

In [66]:
import numpy as np 
import pandas as pd

##Read Data##

In [67]:
train_data = pd.read_excel('/content/drive/MyDrive/EPL448_DATA/Data_Train.xlsx') # read training data
test_data  = pd.read_excel('/content/drive/MyDrive/EPL448_DATA/Data_Test.xlsx') # read test data

Check for corrupted or empty records

In [68]:
print("Problematic records in training data: ",train_data.isnull().sum().sum())
print("Problematic records in test data: ",test_data.isnull().sum().sum())

Problematic records in training data:  0
Problematic records in test data:  0

##Train Data Preprocessing##

Reviews Normalization

In [69]:
train_data['Reviews'] = train_data.Reviews.apply(lambda r: float(r.split()[0])) # get only the review rule 
train_data['Reviews'] = (train_data.Reviews - train_data.Reviews.mean())/(train_data.Reviews.std()) # normalize reviews

Ratings Normalization

In [70]:
train_data['Ratings'] = train_data.Ratings.apply(lambda r: float(r.split()[0].replace(',',''))) # get only the rating 
train_data['Ratings'] = (train_data.Ratings - train_data.Ratings.mean())/(train_data.Ratings.std()) # normalize rating

Drop Title & Author & Synopsis & Genre columns

In [71]:
train_data.pop('Author')
train_data.pop('Title')
train_data.pop('Synopsis')
train_data.pop('Genre')

0         Action & Adventure (Books)
1         Cinema & Broadcast (Books)
2            International Relations
3       Contemporary Fiction (Books)
4              Photography Textbooks
                    ...
6232            Anthropology (Books)
6233    Contemporary Fiction (Books)
6234                 Romance (Books)
6235      Action & Adventure (Books)
6236      Action & Adventure (Books)
Name: Genre, Length: 6237, dtype: object

Edition Normalization / Drop edition

In [72]:
#train_data['Edition'] = train_data.Edition.apply(lambda r: r.split(',')[0]) # get only the type of book e.g Paperback or Hardcover
#train_data= pd.get_dummies(train_data, columns= ['Edition'])
train_data.pop('Edition')

0       Paperback,– 10 Mar 2016
1        Paperback,– 7 Nov 2012
2       Paperback,– 25 Feb 1982
3        Paperback,– 5 Oct 2017
4       Hardcover,– 10 Oct 2006
                 ...
6232     Paperback,– 8 Aug 2018
6233    Paperback,– 21 Nov 2016
6234     Paperback,– 8 Jun 2006
6235    Paperback,– 15 Jan 2015
6236    Paperback,– 21 Dec 2016
Name: Edition, Length: 6237, dtype: object

Book Category Normalization / Extract Categories

In [73]:
train_data= pd.get_dummies(train_data, columns= ['BookCategory'])

Finish training inputs(z) and target outputs(y)

In [74]:
y = train_data.pop('Price')
z = train_data

In [75]:
train_data.head()

    Reviews   Ratings  ...  BookCategory_Romance  BookCategory_Sports
0 -0.442568 -0.186568  ...                     0                    0
1 -0.593511 -0.146567  ...                     0                    0
2  0.764977 -0.199902  ...                     0                    0
3 -0.291625 -0.153234  ...                     0                    0
4  1.066863 -0.233236  ...                     0                    0

[5 rows x 13 columns]

##Test Data Preprocessing##

Reviews Normalization

In [76]:
test_data['Reviews'] = test_data.Reviews.apply(lambda r: float(r.split()[0])) # get only the review rule 
test_data['Reviews'] = (test_data.Reviews - test_data.Reviews.mean())/(test_data.Reviews.std()) # normalize reviews

Ratings Normalization

In [77]:
test_data['Ratings'] = test_data.Ratings.apply(lambda r: float(r.split()[0].replace(',',''))) # get only the rating 
test_data['Ratings'] = (test_data.Ratings - test_data.Ratings.mean())/(test_data.Ratings.std()) # normalize rating

Drop Title & Author & Synopsis & Genre columns

In [78]:
test_data.pop('Author')
test_data.pop('Title')
test_data.pop('Synopsis')
test_data.pop('Genre')

0                            Short Stories (Books)
1                      Operating Systems Textbooks
2                                  Romance (Books)
3       Programming & Software Development (Books)
4                              Linguistics (Books)
                           ...
1555                                        Design
1556                  Children's Reference (Books)
1557                                Humour (Books)
1558                         United States History
1559                                  Dictionaries
Name: Genre, Length: 1560, dtype: object

Edition Normalization / Drop edition

In [79]:
#test_data['Edition'] = test_data.Edition.apply(lambda r: r.split(',')[0]) # get only the type of book e.g Paperback or Hardcover
#test_data= pd.get_dummies(test_data, columns= ['Edition'])
test_data.pop('Edition')

0       Mass Market Paperback,– 1 Oct 1986
1          Paperback,– Import, 26 Apr 2018
2                  Paperback,– 17 Mar 2011
3                         Paperback,– 2016
4                  Paperback,– 26 Dec 2011
                       ...
1555               Paperback,– 14 Apr 2011
1556                Paperback,– 8 May 2013
1557                Paperback,– 6 Sep 2011
1558               Paperback,– 22 Sep 2009
1559               Paperback,– 16 Sep 2016
Name: Edition, Length: 1560, dtype: object

Book Category Normalization / Extract Categories

In [80]:
test_data= pd.get_dummies(test_data, columns= ['BookCategory'])

Finish Test set Inputs

In [81]:
z_test = test_data
z_test.head()

    Reviews   Ratings  ...  BookCategory_Romance  BookCategory_Sports
0  0.140178  5.627725  ...                     0                    0
1  1.038851 -0.198467  ...                     0                    0
2  1.038851 -0.180241  ...                     1                    0
3 -0.309159 -0.137714  ...                     0                    0
4  0.140178 -0.149865  ...                     0                    0

[5 rows x 13 columns]

##Training##