<a href="https://colab.research.google.com/github/schatz06/EPL448_Project/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Map Driver##

In [65]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

##Import Packages ##

In [66]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

##Read Data##

In [67]:
train_data = pd.read_excel('/content/drive/MyDrive/EPL448_DATA/Data_Train.xlsx') # read training data
train_data.head()
test_data  = pd.read_excel('/content/drive/MyDrive/EPL448_DATA/Data_Test.xlsx') # read test data
test_data.head()

                                               Title  ...                         BookCategory
0         The Complete Sherlock Holmes: 2 Boxes sets  ...            Crime, Thriller & Mystery
1  Learn Docker - Fundamentals of Docker 18.x: Ev...  ...  Computing, Internet & Digital Media
2                                           Big Girl  ...                              Romance
3  Think Python: How to Think Like a Computer Sci...  ...  Computing, Internet & Digital Media
4  Oxford Word Skills: Advanced - Idioms & Phrasa...  ...      Language, Linguistics & Writing

[5 rows x 8 columns]

Check for corrupted or empty records

In [68]:
print("Problematic records in training data: ",train_data.isnull().sum().sum())
print("Problematic records in test data: ",test_data.isnull().sum().sum())

Problematic records in training data:  0
Problematic records in test data:  0

##Train Data Preprocessing##

Reviews Normalization

In [69]:
train_data['Reviews'] = train_data.Reviews.apply(lambda r: float(r.split()[0])) # get only the review rule 
train_data['Reviews'] = (train_data.Reviews - train_data.Reviews.mean())/(train_data.Reviews.std()) # normalize reviews

In [70]:
train_data.head()

                                        Title  ...   Price
0         The Prisoner's Gold (The Hunters 3)  ...  220.00
1          Guru Dutt: A Tragedy in Three Acts  ...  202.93
2                Leviathan (Penguin Classics)  ...  299.00
3          A Pocket Full of Rye (Miss Marple)  ...  180.00
4  LIFE 70 Years of Extraordinary Photography  ...  965.62

[5 rows x 9 columns]

Ratings Normalization

In [71]:
train_data['Ratings'] = train_data.Ratings.apply(lambda r: float(r.split()[0].replace(',',''))) # get only the rating 
train_data['Ratings'] = (train_data.Ratings - train_data.Ratings.mean())/(train_data.Ratings.std()) # normalize rating

In [72]:
train_data.head()

                                        Title  ...   Price
0         The Prisoner's Gold (The Hunters 3)  ...  220.00
1          Guru Dutt: A Tragedy in Three Acts  ...  202.93
2                Leviathan (Penguin Classics)  ...  299.00
3          A Pocket Full of Rye (Miss Marple)  ...  180.00
4  LIFE 70 Years of Extraordinary Photography  ...  965.62

[5 rows x 9 columns]

Drop Title & Author & Synopsis columns

In [ ]:
train_data.pop('Author')
train_data.pop('Title')
train_data.pop('Synopsis')
train_data.pop('Genre')

In [ ]:
train_data.head()

Edition Normalization

In [75]:
train_data['Edition'] = train_data.Edition.apply(lambda r: r.split(',')[0]) # get only the type of book e.g Paperback or Hardcover

In [76]:
train_data.head()

     Edition   Reviews   Ratings                          BookCategory   Price
0  Paperback -0.442568 -0.186568                    Action & Adventure  220.00
1  Paperback -0.593511 -0.146567  Biographies, Diaries & True Accounts  202.93
2  Paperback  0.764977 -0.199902                                Humour  299.00
3  Paperback -0.291625 -0.153234             Crime, Thriller & Mystery  180.00
4  Hardcover  1.066863 -0.233236              Arts, Film & Photography  965.62

In [77]:
cat_cols = train_data.select_dtypes(include=['object','category']).columns.tolist()
print(cat_cols)

['Edition', 'BookCategory']

In [78]:
train_data= pd.get_dummies(train_data, columns= ['Edition'])
train_data.head()

    Reviews   Ratings  ... Edition_Spiral-bound  Edition_Tankobon Softcover
0 -0.442568 -0.186568  ...                    0                           0
1 -0.593511 -0.146567  ...                    0                           0
2  0.764977 -0.199902  ...                    0                           0
3 -0.291625 -0.153234  ...                    0                           0
4  1.066863 -0.233236  ...                    0                           0

[5 rows x 23 columns]

Book Category Normalization

In [79]:
train_data= pd.get_dummies(train_data, columns= ['BookCategory'])
train_data.head()

    Reviews   Ratings  ...  BookCategory_Romance  BookCategory_Sports
0 -0.442568 -0.186568  ...                     0                    0
1 -0.593511 -0.146567  ...                     0                    0
2  0.764977 -0.199902  ...                     0                    0
3 -0.291625 -0.153234  ...                     0                    0
4  1.066863 -0.233236  ...                     0                    0

[5 rows x 33 columns]