<a href="https://colab.research.google.com/github/schatz06/EPL448_Project/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Map Driver##

In [265]:
#from google.colab import drive
#drive.mount('/content/drive')

##Import Packages ##

In [266]:
import numpy as np 
import pandas as pd

##Read Data##

In [267]:
train_data = pd.read_excel('Data_Train.xlsx') # read training data
test_data  = pd.read_excel('Data_Test.xlsx') # read test data

Check for corrupted or empty records

In [268]:
print("Problematic records in training data: ",train_data.isnull().sum().sum())
print("Problematic records in test data: ",test_data.isnull().sum().sum())

Problematic records in training data:  0
Problematic records in test data:  0

##Train Data Preprocessing##

Reviews Normalization

In [269]:
train_data['Reviews'] = train_data.Reviews.apply(lambda r: float(r.split()[0])) # get only the review rule 
train_data['Reviews'] = (train_data.Reviews - train_data.Reviews.mean())/(train_data.Reviews.std()) # normalize reviews

Ratings Normalization

In [270]:
train_data['Ratings'] = train_data.Ratings.apply(lambda r: float(r.split()[0].replace(',',''))) # get only the rating 
train_data['Ratings'] = (train_data.Ratings - train_data.Ratings.mean())/(train_data.Ratings.std()) # normalize rating

Drop Title & Author & Synopsis & Genre columns

In [271]:
train_data.pop('Author')
train_data.pop('Title')
train_data.pop('Synopsis')
train_data.pop('Genre')

0         Action & Adventure (Books)
1         Cinema & Broadcast (Books)
2            International Relations
3       Contemporary Fiction (Books)
4              Photography Textbooks
                    ...
6232            Anthropology (Books)
6233    Contemporary Fiction (Books)
6234                 Romance (Books)
6235      Action & Adventure (Books)
6236      Action & Adventure (Books)
Name: Genre, Length: 6237, dtype: object

Edition Normalization / Drop edition

In [272]:
#train_data['Edition'] = train_data.Edition.apply(lambda r: r.split(',')[0]) # get only the type of book e.g Paperback or Hardcover
#train_data= pd.get_dummies(train_data, columns= ['Edition'])
train_data.pop('Edition')

0       Paperback,– 10 Mar 2016
1        Paperback,– 7 Nov 2012
2       Paperback,– 25 Feb 1982
3        Paperback,– 5 Oct 2017
4       Hardcover,– 10 Oct 2006
                 ...
6232     Paperback,– 8 Aug 2018
6233    Paperback,– 21 Nov 2016
6234     Paperback,– 8 Jun 2006
6235    Paperback,– 15 Jan 2015
6236    Paperback,– 21 Dec 2016
Name: Edition, Length: 6237, dtype: object

Book Category Normalization / Extract Categories

In [273]:
train_data= pd.get_dummies(train_data, columns= ['BookCategory'])

Finish training inputs(z)

In [274]:
z = train_data

In [275]:
train_data.head()

    Reviews   Ratings  ...  BookCategory_Romance  BookCategory_Sports
0 -0.442568 -0.186568  ...                     0                    0
1 -0.593511 -0.146567  ...                     0                    0
2  0.764977 -0.199902  ...                     0                    0
3 -0.291625 -0.153234  ...                     0                    0
4  1.066863 -0.233236  ...                     0                    0

[5 rows x 14 columns]

##Test Data Preprocessing##

Reviews Normalization

In [276]:
test_data['Reviews'] = test_data.Reviews.apply(lambda r: float(r.split()[0])) # get only the review rule 
test_data['Reviews'] = (test_data.Reviews - test_data.Reviews.mean())/(test_data.Reviews.std()) # normalize reviews

Ratings Normalization

In [277]:
test_data['Ratings'] = test_data.Ratings.apply(lambda r: float(r.split()[0].replace(',',''))) # get only the rating 
test_data['Ratings'] = (test_data.Ratings - test_data.Ratings.mean())/(test_data.Ratings.std()) # normalize rating

Drop Title & Author & Synopsis & Genre columns

In [278]:
test_data.pop('Author')
test_data.pop('Title')
test_data.pop('Synopsis')
test_data.pop('Genre')

0                            Short Stories (Books)
1                      Operating Systems Textbooks
2                                  Romance (Books)
3       Programming & Software Development (Books)
4                              Linguistics (Books)
                           ...
1555                                        Design
1556                  Children's Reference (Books)
1557                                Humour (Books)
1558                         United States History
1559                                  Dictionaries
Name: Genre, Length: 1560, dtype: object

Edition Normalization / Drop edition

In [279]:
#test_data['Edition'] = test_data.Edition.apply(lambda r: r.split(',')[0]) # get only the type of book e.g Paperback or Hardcover
#test_data= pd.get_dummies(test_data, columns= ['Edition'])
test_data.pop('Edition')

0       Mass Market Paperback,– 1 Oct 1986
1          Paperback,– Import, 26 Apr 2018
2                  Paperback,– 17 Mar 2011
3                         Paperback,– 2016
4                  Paperback,– 26 Dec 2011
                       ...
1555               Paperback,– 14 Apr 2011
1556                Paperback,– 8 May 2013
1557                Paperback,– 6 Sep 2011
1558               Paperback,– 22 Sep 2009
1559               Paperback,– 16 Sep 2016
Name: Edition, Length: 1560, dtype: object

Book Category Normalization / Extract Categories

In [280]:
test_data= pd.get_dummies(test_data, columns= ['BookCategory'])

Finish Test set Inputs

In [281]:
z_test = test_data
z_test.head()

    Reviews   Ratings  ...  BookCategory_Romance  BookCategory_Sports
0  0.140178  5.627725  ...                     0                    0
1  1.038851 -0.198467  ...                     0                    0
2  1.038851 -0.180241  ...                     1                    0
3 -0.309159 -0.137714  ...                     0                    0
4  0.140178 -0.149865  ...                     0                    0

[5 rows x 13 columns]

##Training Feed Forward Model##

Split Train Set in Train  & Validation Sets(70/30)

In [282]:
############# inputs to the neural network #######################
train_set = z.sample(frac=0.7,random_state=200)
validation_set = z.drop(train_set.index)
######################### normalized target outputs for training set##########
y_train_set = train_set.pop('Price')
y_train_set_mean = y_train_set.mean()
y_train_set_std = y_train_set.std()
y_train_set = (y_train_set - y_train_set_mean) / y_train_set_std

########################## normalized target outputs for validation set #######
y_validation_set = validation_set.pop('Price')
y_validation_set_mean = y_validation_set.mean()
y_validation_set_std = y_validation_set.std()
y_validation_set = (y_validation_set - y_validation_set_mean) / y_validation_set_std
####################### convert to numpy arrays #############################
print(train_set.shape)
print(y_train_set.shape)
y_train_set.head()

(4366, 13)
(4366,)

109    -0.383496
150    -0.277258
432    -0.568654
6001   -0.409297
2716   -0.520088
Name: Price, dtype: float64

Import tensorflow

In [283]:
%tensorflow_version 2.x  # this line is not required unless you are in a notebook
# TensorFlow and tf.keras
import tensorflow as tf
from tensorflow import keras
from keras.preprocessing.text import Tokenizer
from keras import models
from keras import layers
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

`%tensorflow_version` only switches the major version: 1.x or 2.x.
You set: `2.x  # this line is not required unless you are in a notebook`. This will be interpreted as: `2.x`.


TensorFlow is already loaded. Please restart the runtime to change versions.

Build model/neural network

In [284]:
# Start neural network
network = models.Sequential()

# Add fully connected layer with a ReLU activation function
network.add(layers.Dense(units=32, activation='sigmoid', input_shape=(train_set.shape[1],)))

# Add fully connected layer with a ReLU activation function
network.add(layers.Dense(units=32, activation='sigmoid'))

# Add fully connected layer with no activation function
network.add(layers.Dense(units=1))

In [285]:
network.summary()

Model: "sequential_18"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_51 (Dense)             (None, 32)                448
_________________________________________________________________
dense_52 (Dense)             (None, 32)                1056
_________________________________________________________________
dense_53 (Dense)             (None, 1)                 33
=================================================================
Total params: 1,537
Trainable params: 1,537
Non-trainable params: 0
_________________________________________________________________

Compile model

In [286]:
# Compile neural network
network.compile(loss='mse', # Mean squared error
                optimizer='RMSprop', # Optimization algorithm
                ) # Mean squared error

Model Training

In [287]:
# Train neural network
history = network.fit(train_set, # Features
                      y_train_set, # Target vector
                      epochs=10, # Number of epochs
                      verbose=1, # Output
                      batch_size=100, # Number of observations per batch
                      validation_data=(validation_set,y_validation_set)) # Data for evaluation

Epoch 1/10
44/44 [==============================] - 1s 6ms/step - loss: 1.0660 - val_loss: 1.0027
Epoch 2/10
44/44 [==============================] - 0s 2ms/step - loss: 1.1033 - val_loss: 0.9728
Epoch 3/10
44/44 [==============================] - 0s 3ms/step - loss: 0.8703 - val_loss: 0.9629
Epoch 4/10
44/44 [==============================] - 0s 3ms/step - loss: 1.0588 - val_loss: 0.9531
Epoch 5/10
44/44 [==============================] - 0s 3ms/step - loss: 0.8551 - val_loss: 0.9444
Epoch 6/10
44/44 [==============================] - 0s 2ms/step - loss: 1.1240 - val_loss: 0.9368
Epoch 7/10
44/44 [==============================] - 0s 2ms/step - loss: 0.7674 - val_loss: 0.9372
Epoch 8/10
44/44 [==============================] - 0s 3ms/step - loss: 0.8738 - val_loss: 0.9261
Epoch 9/10
44/44 [==============================] - 0s 2ms/step - loss: 0.7711 - val_loss: 0.9240
Epoch 10/10
44/44 [==============================] - 0s 6ms/step - loss: 1.0743 - val_loss: 0.9186